.player-image-container {
    width: 200px;
    height: 400px;
    overflow: hidden;
  }
  
  .player-image {
    width: 100%;
    height: auto;
  }

.player-card {
  display: none;
}

.player-card.active {
  display: block;
}

.navigation-buttons {
  text-align: center;
}

.navigation-buttons button.hidden {
  display: none;
}
